/* Css reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}




.user-profile-image {
    width: 100%;
    margin: 0;
}

.skills ul {
    list-style-type: "★";
}

.skills ul li .skill-item {
    margin-left: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F8F9FA;
    color: black;
    text-align: center;
}

.footer .contact-info {
    list-style-type: none;

}

.footer .contact-info li {
    display: inline;
}

.products {
    border: 2px solid black;
}

.contact-button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: black;
}